<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carrati.mybills.appCompose">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AppModule"
        android:allowBackup="true"
        android:icon="@drawable/ic_female_wallet"
        android:label="MyBills"
        android:roundIcon="@drawable/ic_female_wallet"
        android:supportsRtl="true"
        android:screenOrientation="portrait">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".ui.forms.expenseIncome.FormExpenseIncomeActivity"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".ui.forms.transfer.FormTransferActivity"
            android:windowSoftInputMode="stateVisible"/>

    </application>

</manifest>